<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>smtptrap</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="/css/freelancer.min.css" rel="stylesheet" />
    <link href="/css/smtpmailer.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/angular/SmtpMailer.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index" ng-app="smtpMailer">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">SMTP Trap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#showMe">Show Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                	<i class="fa fa-envelope-o big-icon" aria-hidden="true"></i>
                    <div class="intro-text">
                        <h1 class="name">SMTP Trap</h1>
                        <hr class="star-light" />
                        <span class="skills">A simple and free fake SMTP server to use when automation testing your application.</span>
                        <br/>
                        <br/>
                        <span class="skills">No signup required.</span>
                        <br/>
                        <br/>
                        <span class="skills">Start using immediately.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

    <section id="showMe" ng-controller="SendSmtpMailController">
        <div class="container">
            <div class="row">
            	<div class="col-lg-10">
            		<div class="row">
						<div class="col-md-offset-3 col-md-9">
	     					<h3>1. Configure your app to use these SMTP details:</h3>
	     				</div>
     				</div>
            	</div>
            </div>
            
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-horizontal">
						<div class="form-group control-group">
							<div class="col-md-offset-3 col-md-9">
								<pre>host={{smtpConfiguration.fakeSmtpHost}}
port={{smtpConfiguration.fakeSmtpPort}}
username=&lt;anything&gt;
password=&lt;anything&gt;</pre>
							</div>
						</div>												
					</div>
                </div>
            </div>   
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-horizontal">
						<div class="form-group control-group">
							<div class="col-md-offset-3 col-md-9">
								You are free to choose anything you like as a username and password. All requests will be accepted. The username and password you choose 
								act as a composite key for your mailbox. You will need to use the same username and possword when retrieving your messages later.
							</div>
						</div>												
					</div>
                </div>
            </div>                 
                        
            <div class="row">
            	<div class="col-lg-10">
            		<div class="row">
						<div class="col-md-offset-3 col-md-9">
	     					<h3>2. Send an email</h3>
	     				</div>
     				</div>
            	</div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <form class="form-horizontal" novalidate="novalidate">
                    	<fieldset>
							<div class="form-group control-group">
								<div class="col-md-offset-3 col-md-9">
									<div class="row authentication-group">
										<div class="col-md-6">
											<label class="control-label">Username</label>
											<input type="text" placeholder="Username" class="form-control" ng-model="smtpMailContent.username" />
										</div>
										<div class="col-md-6">
											<label class="control-label">Password</label>
											<input type="text" placeholder="Password" class="form-control" ng-model="smtpMailContent.password" />
										</div>
									</div>
								</div>
							</div>	
						</fieldset>
						<fieldset>
							<div class="form-group control-group">
								<label class="col-md-3 control-label" for="message">From address</label>
								<div class="col-md-9">
									<input type="text" placeholder="From address" class="form-control" ng-model="smtpMailContent.fromAddress" />
								</div>
							</div>	
						
							<div class="form-group control-group">
								<label class="col-md-3 control-label" for="message">To address</label>
								<div class="col-md-9">
									<input type="text" placeholder="To address" class="form-control" ng-model="smtpMailContent.toAddress" />
								</div>
							</div>		
							
							<div class="form-group control-group">
								<label class="col-md-3 control-label" for="message">Subject</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Subject" ng-model="smtpMailContent.subject" />
								</div>
							</div>																			

							<div class="form-group control-group">
								<label class="col-md-3 control-label" for="message">Email body</label>
								<div class="col-md-9">
									<textarea class="form-control" placeholder="Enter your email message here..." rows="5" ng-model="smtpMailContent.plainContent"></textarea>
								</div>
							</div>

							<!-- Form actions -->
							<div class="form-group control-group">
	                            <div class="form-group col-xs-12 text-right">
	                                <button type="submit" class="btn btn-success btn-lg" ng-click="send()">Send</button>
	                            </div>
	                        </div>
						</fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-10">
            		<div class="row">
						<div class="col-md-offset-3 col-md-9">
	     					<h3>3. Get the message as JSON</h3>
	     				</div>
     				</div>
            	</div>
            </div>
            
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-horizontal">
						<div class="form-group control-group">
							<div class="col-md-offset-3 col-md-8">
								<pre>http://{{smtpConfiguration.fakeSmtpHost}}/?username={{smtpMailContent.username}}&amp;password={{smtpMailContent.password}}&amp;toAddress={{smtpMailContent.toAddress}}</pre>
							</div>
							<div class="col-md-1">
								<button type="submit" class="btn btn-success pull-right btn-lg" ng-click="getMessage()">Go</button>
							</div>							
						</div>
						<div class="form-group control-group">
							<div class="col-md-offset-3 col-md-9">
								<pre class="response-pre">{{jsonMessage | json}}</pre>
							</div>
						</div>												
					</div>
                </div>
            </div>   
            
            <div class="row">
            	<div class="col-lg-10">
            		<div class="row">
						<div class="col-md-offset-3 col-md-9">
	     					<h3>Simples.</h3>
	     				</div>
     				</div>
            	</div>
            </div>                     
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; <script>document.write(new Date().getFullYear())</script> SMTP Trap | All rights reserved 
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/freelancer.min.js"></script>
    
   	<script src="/js/angular/SendSmtpMailController.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-105760743-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>

</html>
